<mat-sidenav-container class="container">

  <!-- Sidebar -->
  <mat-sidenav #drawer [mode]="isMobile?'over':'side'" [opened]="!isMobile" class="sidenav">

    

    <mat-nav-list *ngFor="let item of menu()">

      <a mat-list-item [routerLink]="item.path" routerLinkActive="active" (click)="closeIfMobile()">
        {{ item.label }}
      </a>

      <!-- <a *ngIf="role() === 'admin'"
         mat-list-item
         routerLink="/employees"
         routerLinkActive="active" (click)="closeIfMobile()">
        <mat-icon>group</mat-icon>
        Employees
      </a>
      <a *ngIf="role() === 'manager'"
         mat-list-item
         routerLink="/leave-approval"
         routerLinkActive="active" (click)="closeIfMobile()">
        <mat-icon>mail</mat-icon>
        Leave Requests
      </a>
      <a *ngIf="role() === 'employee'"
         mat-list-item
         routerLink="/leave-balance"
         routerLinkActive="active" (click)="closeIfMobile()">
        <mat-icon>leave</mat-icon>
        Leave Balance
      </a>
       <a *ngIf="role() === 'employee'"
         mat-list-item
         routerLink="/leave-request"
         routerLinkActive="active" (click)="closeIfMobile()">
        <mat-icon>leave</mat-icon>
        Apply Leave
      </a>

      <a *ngIf="role() === 'employee'"
         mat-list-item
         routerLink="/my-leave"
         routerLinkActive="active" (click)="closeIfMobile()">
        <mat-icon>leave</mat-icon>
        My Leaves
      </a>

      <a *ngIf="role() === 'employee'"
         mat-list-item
         routerLink="/holiday-calendar"
         routerLinkActive="active" (click)="closeIfMobile()">
        <mat-icon>calendar</mat-icon>
        Holiday Calendar
      </a>

      <a *ngIf="role() === 'hr'"
         mat-list-item
         routerLink="/settings"
         routerLinkActive="active" (click)="closeIfMobile()">
        <mat-icon>settings</mat-icon>
        HR Settings
      </a> -->

    </mat-nav-list>

    <div class="spacer"></div>

    <button mat-button color="warn" (click)="logout()" (click)="closeIfMobile()">
      Logout
    </button>

  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button *ngIf="isMobile" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Welcome, {{ authstate.user()?.name }}
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>