.container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  padding: 10px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  padding: 24px;
}

.spacer {
  flex: 1;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}