.card-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap : 40 px;
}
.dashboard-card{
    text-align: center;
    padding:20px;
}
.dashboard-card h1{
font-size:36px;
margin-top:10px;
font-weight:bold;
}
@media(max-width:1024px){
    .card-grid{
        grid-template-columns:repeat(2,1fr) ;
    }    
}
@media(max-width:600px){
    .card-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.holiday-card{
   margin-top: 10px;
   font-size:36px;
}